<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.panphora.heic-to-jpg</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/davidmiranda/Documents/GitHub/heic-to-jpg/heic-to-jpg</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/davidmiranda/Library/Logs/heic-to-jpg.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/davidmiranda/Library/Logs/heic-to-jpg.log</string>
</dict>
</plist>
